{{ define "main" }} {{ with .Params.projects_banner }}
<section class="section section-banner-sm">
	<div class="container">
		<h1 class="page-title">{{ .title }}</h1>
		<p class="descr">{{ .description }}</p>
	</div>
</section>
{{ end }}

<section class="section section-projects">
	<div class="container">
		<div class="project-list">
			{{ range .Params.projects_row }}
			<div class="project">
				<h2 class="title">{{ .title }}</h2>
				<div class="descr">{{ .description }}</div>
				<img src="{{ .image | absURL }}" alt="logo" class="" />
			</div>
			{{ end }}
		</div>
	</div>
</section>

{{ end }}
