.section-about {
	padding: 413px 0;

	.container {
		// max-width: 1520px;
	}

	.content {
		max-width: 530px;

		& + .content {
			margin-top: 230px;
		}
	}

	.title {
		margin-bottom: 0;
	}
}

@media (max-width: 1200px) {
	.section-about {
		padding: 150px 0;

		.content {
			& + .content {
				margin-top: 100px;
			}
		}
	}
}

@media (max-width: 780px) {
	.section-about {
		padding: 70px 0;

		.content {
			& + .content {
				margin-top: 50px;
			}
		}
	}
}
