.transform-banner {
	will-change: transform;
	perspective: 1000px;
}

.section-banner {
	padding: 124px 0 113px;
	transform-style: preserve-3d;
	background: white;
	will-change: transform;

	.container {
		display: flex;
	}

	.text {
		width: 54%;

		h1 {
			color: $primary;
			margin: 0 0 50px;
			padding-right: 30px;
		}

		strong {
			font-weight: 800;
		}
	}

	.text-block {
		// padding-right: 25px;
	}

	.media {
		width: 40%;
		position: relative;
	}

	img {
		position: absolute;
		top: -10px;
		right: -62px;
	}
}

@media (max-width: 1200px) {
	.section-banner {
		padding: 100px 0;
	}
}

@media (max-width: 992px) {
	.section-banner {
		padding: 100px 0 50px;

		.container {
			flex-wrap: wrap;

			.text {
				width: 100%;

				h1 {
					padding-right: 0;
					margin-bottom: 30px;
				}
			}

			.media {
				width: 100%;

				img {
					position: static;
				}
			}
		}
	}
}

.section-how {
	padding: 58px 0 65px;
	background: #f3f3f3;
	border-bottom: 1px solid #707070;
	position: relative;

	.title {
		font-size: 40px;
		margin-bottom: 30px;
	}

	.descr {
		font-size: 20px;
		line-height: 27px;
	}

	.top-row {
		display: flex;
		justify-content: space-between;

		.item {
			width: 25.5%;
		}
	}

	.bot-row {
		display: flex;
		padding-top: 73px;

		.item {
			width: 33.33%;
			height: 0;
			padding-bottom: 33%;
			position: relative;

			img {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				object-fit: cover;
				width: 100%;
				height: 100%;
			}
		}
	}

	.link {
		display: block;
		color: $primary;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}

	.action {
		padding-top: 100px;
		text-align: center;
	}
}

@media (max-width: 1200px) {
	.section-how {
		padding: 70px 0;
		overflow: hidden;
	}
}

@media (max-width: 992px) {
	.section-how {
		.title {
			font-size: 30px;
		}
	}
}

@media (max-width: 780px) {
	.section-how {
		.top-row {
			flex-wrap: wrap;

			.item {
				width: 100%;

				& + .item {
					margin-top: 30px;
				}
			}
		}
		.bot-row {
			flex-wrap: wrap;

			.item {
				width: 100%;
				padding-bottom: 56.25%;
			}
		}
	}
}

.section-what {
	padding: 95px 0 170px;

	.section-title {
		margin: 0 0 90px;
	}

	.row {
		display: flex;
	}

	.media-row {
		.col {
			height: 0;
			position: relative;
			padding-bottom: 30%;
			img {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				object-fit: cover;
				width: 100%;
				height: 100%;
			}
		}
	}

	.text-row {
		padding: 70px 0;
	}

	.col {
		width: 50%;

		.title {
			font-size: 30px;
			margin-bottom: 28px;
		}

		.text {
			font-size: 30px;
		}
	}

	.brand-list {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 80px;
		margin-bottom: 180px;

		.item {
			margin: 0 5%;
		}
	}

	.info-block {
		display: flex;

		.item {
			width: 50%;
			padding-right: 12%;
		}

		.title {
			margin-bottom: 70px;
			color: #707070;
		}

		.descr {
			font-size: 25px;
			color: #707070;
		}
	}
}

@media (max-width: 1200px) {
	.section-what {
		padding: 70px 0;
		overflow: hidden;

		.col {
			width: 100%;

			.title {
				font-size: 24px;
				margin-bottom: 10px;
			}

			.text {
				font-size: 18px;
			}
		}

		.brand-list {
			margin-bottom: 100px;

			.item {
				margin: 0 15px;
			}
		}

		.info-block {
			.item {
				padding-right: 40px;
			}

			.title {
				margin-bottom: 30px;
			}

			.descr {
				font-size: 18px;
			}
		}
	}
}

@media (max-width: 780px) {
	.section-what {
		.row {
			margin-bottom: 20px;
			padding-bottom: 0;
			flex-wrap: wrap;
		}

		.brand-list {
			margin-bottom: 60px;
			flex-wrap: wrap;

			.item {
				margin: 0 10px;
			}
		}

		.info-block {
			flex-wrap: wrap;
			.item {
				padding-right: 0;
				margin-bottom: 20px;
				width: 100%;
			}

			.title {
				margin-bottom: 20px;
			}
		}

		.media-row {
			.col {
				padding-bottom: 56.25%;
			}
		}
	}
}
