.section-banner-sm {
	background: #fff;

	padding: 210px 0 95px;

	.page-title {
		margin-bottom: 56px;
	}

	.descr {
		max-width: 710px;
	}
}

@media (max-width: 1200px) {
	.section-banner-sm {
		padding: 100px 0;

		.page-title {
			margin-bottom: 30px;
		}
	}
}

@media (max-width: 780px) {
	.section-banner-sm {
		padding: 50px 0;

		.page-title {
			margin-bottom: 20px;
		}
	}
}

.section-pricing-item {
	padding: 143px 0 102px;

	&:last-of-type {
		margin-bottom: 137px;
	}

	.wrap {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		& + .wrap {
			margin-top: 30px;
		}
	}

	.content {
		display: flex;
		width: 65%;
	}

	.item {
		width: 64%;
	}

	.price {
		font-size: 70px;
		display: block;
		// margin-top: 130px;
	}

	.price-box {
		width: 36%;
	}

	.descr {
		max-width: 435px;
	}

	.media {
		position: relative;
		width: 35%;
		padding-left: 5.5%;
		margin-top: -33px;

		.price-chair {
			position: absolute;
			top: -270px;
			left: 95px;
		}
	}

	.bottom-content {
		width: 100%;
		display: flex;
		padding-top: 110px;
		height: 730px;

		.main {
			width: 63.5%;

			img {
				height: 100%;
				object-fit: cover;
			}
		}

		.sidebar {
			width: 36.5%;
			padding-left: 3%;
			// padding-top: 75px;

			.sidebar-item {
				height: 50%;
			}

			img {
				height: 100%;
				object-fit: cover;
			}
		}
	}
}

@media (max-width: 1200px) {
	.section-pricing-item {
		padding: 50px 0;

		.price {
			font-size: 40px;
			// margin-top: 50px;
		}

		.media {
			padding-right: 7%;
		}

		&:last-of-type {
			.media {
				padding-top: 0;
				padding-right: 0;
			}
		}
	}
}

@media (max-width: 780px) {
	.section-pricing-item {
		padding: 20px 0;

		.container {
			flex-direction: column-reverse;
		}

		.item,
		.price-box {
			width: 100%;
		}

		.price {
			margin-top: 30px;
		}

		.content {
			width: 100%;
			flex-direction: column;
		}

		.media {
			padding-right: 0;
			padding-left: 0;
			margin-top: 30px;
			margin-bottom: 20px;

			.price-chair {
				position: static;
			}
		}

		& + .section-pricing-item {
			margin-bottom: 50px;

			.container {
				flex-direction: column;
			}
		}

		.bottom-content {
			flex-direction: column;
			margin: 0 -15px;
			width: auto;
			height: auto;

			.main,
			.sidebar {
				width: 100%;
				padding-left: 0;

				img {
					width: 100%;
					height: auto;
				}
			}
		}
	}
}
