.section-projects {
	background: #f3f3f3;
	padding: 143px 0 105px;

	.project-list {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -15px;

		.project {
			width: 50%;
			padding: 0 15px;
			margin-bottom: 70px;
		}

		.descr {
			margin-bottom: 78px;
		}
	}
}

@media (max-width: 780px) {
	.section-projects {
		background: #f3f3f3;
		padding: 50px 0;

		.project-list {
			display: flex;
			flex-wrap: wrap;
			margin: 0;

			.project {
				width: 100%;
				padding: 0;
				margin-bottom: 30px;
			}

			.descr {
				margin-bottom: 40px;
			}
		}
	}
}
