<!doctype html>
<html class="no-js" lang="{{ .Lang }}" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="theme-color" content="#ffffff" />

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;500&display=swap" rel="stylesheet">

    {{ partial "favicons" . }}

    <title>
        {{ if .IsHome }}
            {{ .Site.Title }}{{ with .Site.Params.strapline }} &ndash; {{ . }}{{ end }}
        {{ else }}
            {{ with .Title }}{{ . }}{{ end }} &ndash; {{ .Site.Title }}
        {{ end }}
    </title>
    <meta name="description" content="{{ if .IsHome }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ else }}{{ with .Description }}{{ . }}{{ end }}{{ end }}">

    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/schema.html" . }}
    {{ template "_internal/twitter_cards.html" . }}

    <script>
        document.documentElement.classList.remove('no-js');
        document.documentElement.classList.add('js');
    </script>
    {{ partial "styles" . }}
</head>
<body>
    <header class="header" role="banner">
       <div class="container">
            <button type="button" class="j-toggle-nav burger-btn"><span></span></button>
            <nav role="navigation">
                {{ partial "nav/main" . }}
            </nav>
            <a class="logo" href="{{ "/" | relURL }}" title="{{ .Site.Title }}">
                <img src="/images/logo.svg" alt="">
            </a>
       </div>
    </header>

    <main role="main">
        {{ block "main" . }}{{ end }}
    </main>

    <footer role="contentinfo" class="footer">
        <div class="container">
            <div class="social">
                <span class="note">
                    (c) 2021 Perspectic.
                </span>
                <a href="mailto:contact@perspectic.com" class="note">
                    contact@perspectic.com 
                </a>
                <ul class="social-list">
                    <li>
                        <a href="#">
                            <img src="/images/Icon-awesome-linkedin.svg" alt="icon" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/images/Icon-awesome-facebook-square.svg" alt="icon" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/images/Icon-awesome-instagram.svg" alt="icon" />
                        </a>
                    </li>
                </ul>
            </div>

            <div class="footer-menu">
                <nav role="navigation">
                    {{ partial "nav/main" . }}
                </nav>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
   

    {{ partial "scripts" . }}
</body>
</html>
