{{ define "main" }} 

{{ with .Params.pricing_banner }}
<section class="section section-banner-sm">
	<div class="container">
		<h1 class="page-title">{{ .title }}</h1>
		<p class="descr">{{ .description }}</p>
	</div>
</section>
{{ end }}

<section class="section section-pricing-item">
	<div class="container">
		{{ range .Params.pricing_row }}
		<div class="wrap">
			<div class="content">
				<div class="item">
					<h2 class="title">{{ .title }}</h2>
					<div class="descr">{{ .description }}</div>
				</div>
				<div class="price-box">
					<span class="price">{{ .price }}</span>
					<div class="descr">{{ .price_description }}</div>
				</div>
			</div>
			{{ if .image_media }}
			<div class="media">
				<img
					src="{{ .image_media | absURL }}"
					alt="chair"
					class="price-chair"
				/>
			</div>
			{{ end }}
		</div>
		{{ end }}
		
{{ with .Params.media_pricing_block }}
		<div class="bottom-content">
			<div class="main">
				<img src="{{ .image_large | absURL }}" alt="logo" class="" />
			</div>
			<div class="sidebar">
				<div class="sidebar-item">
					<img src="{{ .image_small_top | absURL }}" alt="logo" class="" />
				</div>
				<div class="sidebar-item">
					<img src="{{ .image_small_bottom | absURL }}" alt="logo" class="" />
				</div>
			</div>
		</div>
		{{ end }}
	</div>
</section>

{{ end }}
