@font-face {
  font-family: "SFProDisplay";
  src: url("/fonts/SFProDisplay-Regular.woff2") format("woff2"), url("/fonts/SFProDisplay-Regular.woff") format("woff"); }

@font-face {
  font-family: "newyorkregular";
  src: url("/fonts/newyork-webfont.woff2") format("woff2"), url("/fonts/newyork-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

h1 {
  font-size: 70px;
  font-weight: 400; }

h2 {
  font-size: 50px; }

@media (max-width: 1200px) {
  h1 {
    font-size: 45px; }
  h2 {
    font-size: 30px; } }

.header {
  background: #8E24AA;
  padding: 25px 0 24px; }
  .header .container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center;
    position: relative; }
  .header nav {
    font-size: 20px; }
    .header nav ul {
      display: -ms-flexbox;
      display: flex; }
      .header nav ul li {
        margin-right: 35px; }
    .header nav a {
      display: block;
      font-size: 20px;
      line-height: 1.35;
      color: #fff; }
  .header .burger-btn {
    height: 25px;
    width: 40px;
    position: absolute;
    top: -4px;
    right: 15px;
    z-index: 101;
    display: block;
    border: none;
    background: none;
    padding: 0;
    -webkit-transition: top 0.2s;
    transition: top 0.2s;
    display: none; }
    .header .burger-btn:focus {
      outline: none; }
    .header .burger-btn span, .header .burger-btn:before, .header .burger-btn:after {
      background: #fff;
      border-radius: 3px;
      position: absolute;
      top: 8px;
      right: 0;
      width: 20px;
      height: 3px;
      -webkit-transform: rotate(0);
              transform: rotate(0);
      -webkit-transition: all 0.2s linear;
      transition: all 0.2s linear; }
    .header .burger-btn:before, .header .burger-btn:after {
      content: "";
      top: 0;
      width: 40px; }
    .header .burger-btn:after {
      top: 22px;
      width: 26px; }
    .header .burger-btn span {
      top: 11px;
      width: 20px; }
    .open-nav .header .burger-btn {
      height: 20px; }
      .open-nav .header .burger-btn span {
        opacity: 0; }
      .open-nav .header .burger-btn:before, .open-nav .header .burger-btn:after {
        width: 40px;
        top: 10px;
        right: -4px;
        background: #fff; }
      .open-nav .header .burger-btn:before {
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg); }
      .open-nav .header .burger-btn:after {
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg); }

@media (max-width: 1200px) {
  .header nav {
    display: none; }
    .header nav a {
      font-size: 18px;
      line-height: 1.1; }
  .header .burger-btn {
    display: block; } }

.open-nav html,
.open-nav body {
  overflow: hidden !important; }

.open-nav .mobile-main-menu {
  -webkit-transform: translateY(0);
          transform: translateY(0); }

.open-nav .burger-btn {
  color: #fff; }

.open-nav .header {
  z-index: 101; }
  .open-nav .header nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    min-height: 100vh;
    min-width: 100vw;
    z-index: 100;
    color: #fff;
    background: #8E24AA;
    padding: 50px; }
    .open-nav .header nav a {
      color: inherit; }
    .open-nav .header nav ul {
      -ms-flex-direction: column;
          flex-direction: column; }
      .open-nav .header nav ul a {
        font-size: 24px; }
      .open-nav .header nav ul li + li {
        margin-top: 30px; }
  .open-nav .header .logo {
    position: relative;
    z-index: 100; }

.section-banner {
  padding: 155px 0 220px; }
  .section-banner .container {
    display: -ms-flexbox;
    display: flex; }
  .section-banner .text {
    width: 60%; }
    .section-banner .text h1 {
      color: #8E24AA;
      margin: 0 0 30px; }
    .section-banner .text strong {
      font-weight: 800; }
  .section-banner .text-block {
    padding-right: 25px; }
  .section-banner .media {
    width: 40%;
    position: relative; }
  .section-banner img {
    position: absolute;
    top: -10px;
    right: -62px; }

@media (max-width: 1200px) {
  .section-banner {
    padding: 100px 0; } }

@media (max-width: 992px) {
  .section-banner {
    padding: 100px 0 50px; }
    .section-banner .container {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      .section-banner .container .text {
        width: 100%; }
      .section-banner .container .media {
        width: 100%; }
        .section-banner .container .media img {
          position: static; } }

.section-how {
  padding: 120px 0 0;
  background: #f3f3f3;
  border-bottom: 1px solid #707070;
  position: relative; }
  .section-how .img-left {
    position: absolute;
    bottom: 240px;
    left: 0; }
  .section-how .img-right {
    position: absolute;
    bottom: 240px;
    right: 0; }
  .section-how .img-center {
    position: absolute;
    top: 200px;
    right: 0;
    bottom: 0;
    left: 0;
    -o-object-fit: cover;
       object-fit: cover;
    z-index: 0; }
  .section-how .section-title {
    margin: 0 0 28px;
    letter-spacing: -1.5px; }
  .section-how .section-text {
    max-width: 710px; }
  .section-how .section-media {
    padding: 300px 0 370px 110px;
    position: relative;
    z-index: 1; }
    .section-how .section-media img {
      margin: auto; }
  .section-how .link {
    display: block;
    color: #8E24AA;
    text-decoration: underline; }
    .section-how .link:hover {
      text-decoration: none; }
  .section-how .action {
    padding-top: 30px; }

@media (max-width: 1200px) {
  .section-how {
    padding: 70px 0;
    overflow: hidden; }
    .section-how .section-media {
      padding: 300px 0 50px; }
      .section-how .section-media img {
        max-width: 200px;
        margin-top: auto; }
    .section-how .img-left {
      bottom: 0;
      max-width: 350px; }
    .section-how .img-right {
      bottom: 0;
      max-width: 350px; } }

@media (max-width: 992px) {
  .section-how .section-media {
    padding: 100px 0 50px; }
    .section-how .section-media img {
      max-width: 150px; }
  .section-how .img-left {
    max-width: 250px; }
  .section-how .img-right {
    max-width: 250px; }
  .section-how .img-center {
    top: 120px; } }

@media (max-width: 780px) {
  .section-how .img-left {
    display: none; }
  .section-how .img-right {
    display: none; } }

.section-what {
  padding: 95px 0 430px; }
  .section-what .section-title {
    margin: 0 0 40px;
    letter-spacing: -1.5px; }
  .section-what .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
        align-items: flex-start;
    -ms-flex-pack: center;
        justify-content: center;
    margin-bottom: 125px; }
  .section-what .col {
    width: 50%; }
    .section-what .col:first-of-type img {
      margin-left: auto;
      padding-right: 10%;
      padding-top: 65px; }
    .section-what .col:first-of-type .text-wrap {
      padding-left: 34%;
      padding-right: 20%;
      margin-top: -40px; }
    .section-what .col:last-of-type img {
      margin-left: auto;
      padding-right: 6%; }
    .section-what .col:last-of-type .text-wrap {
      padding-left: 6%;
      padding-right: 38%;
      margin-top: -66px; }
    .section-what .col .title {
      font-size: 30px;
      text-align: center;
      margin-bottom: 28px; }
    .section-what .col .text {
      font-size: 30px; }
  .section-what .brand-list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    margin-bottom: 227px; }
    .section-what .brand-list .item {
      margin: 0 40px; }
  .section-what .info-block {
    display: -ms-flexbox;
    display: flex; }
    .section-what .info-block .item {
      width: 50%;
      padding-right: 12%; }
    .section-what .info-block .title {
      margin-bottom: 70px;
      color: #707070; }
    .section-what .info-block .descr {
      font-size: 25px;
      color: #707070; }

@media (max-width: 1200px) {
  .section-what {
    padding: 70px 0;
    overflow: hidden; }
    .section-what .row {
      margin-bottom: 100px;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
    .section-what .col {
      width: 100%; }
      .section-what .col .title {
        font-size: 24px;
        margin-bottom: 10px; }
      .section-what .col .text {
        font-size: 18px; }
      .section-what .col:first-of-type img {
        margin-right: auto;
        padding-top: 0;
        padding-right: 0;
        margin-left: auto; }
      .section-what .col:first-of-type .text-wrap {
        padding-left: 0;
        padding-right: 0;
        text-align: center; }
      .section-what .col:last-of-type img {
        margin-right: auto;
        padding-right: 0;
        margin-left: auto; }
      .section-what .col:last-of-type .text-wrap {
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        margin-top: -40px; }
    .section-what .brand-list {
      margin-bottom: 100px; }
      .section-what .brand-list .item {
        margin: 0 15px; }
    .section-what .info-block .item {
      padding-right: 40px; }
    .section-what .info-block .title {
      margin-bottom: 30px; }
    .section-what .info-block .descr {
      font-size: 18px; } }

@media (max-width: 780px) {
  .section-what .row {
    margin-bottom: 60px; }
  .section-what .brand-list {
    margin-bottom: 60px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .section-what .brand-list .item {
      margin: 0 10px; }
  .section-what .info-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .section-what .info-block .item {
      padding-right: 0;
      margin-bottom: 20px;
      width: 100%; }
    .section-what .info-block .title {
      margin-bottom: 20px; } }

.section-banner-sm {
  background: #f5f5f5;
  padding: 155px 0; }
  .section-banner-sm .container {
    max-width: 1520px; }
  .section-banner-sm .page-title {
    margin-bottom: 56px; }
  .section-banner-sm .descr {
    max-width: 710px; }

@media (max-width: 1200px) {
  .section-banner-sm {
    padding: 100px 0; }
    .section-banner-sm .page-title {
      margin-bottom: 30px; } }

@media (max-width: 780px) {
  .section-banner-sm {
    padding: 50px 0; }
    .section-banner-sm .page-title {
      margin-bottom: 20px; } }

.section-pricing-item {
  padding: 283px 0 65px; }
  .section-pricing-item .container {
    max-width: 1616px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between; }
  .section-pricing-item .price {
    font-size: 70px;
    display: block;
    margin-top: 130px; }
  .section-pricing-item .descr {
    max-width: 435px; }
  .section-pricing-item .media {
    padding-right: 15%; }
  .section-pricing-item:last-of-type .media {
    padding-top: 93px;
    padding-right: 2%; }

@media (max-width: 1200px) {
  .section-pricing-item {
    padding: 100px 0; }
    .section-pricing-item .price {
      font-size: 40px;
      margin-top: 50px; }
    .section-pricing-item .media {
      padding-right: 7%; }
    .section-pricing-item:last-of-type .media {
      padding-top: 0;
      padding-right: 0; } }

@media (max-width: 780px) {
  .section-pricing-item {
    padding: 50px 0; }
    .section-pricing-item .container {
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse; }
    .section-pricing-item .price {
      margin-top: 30px; }
    .section-pricing-item .media {
      padding-right: 0;
      margin-bottom: 20px; } }

.section-about {
  padding: 413px 0; }
  .section-about .container {
    max-width: 1520px; }
  .section-about .content {
    max-width: 530px; }
    .section-about .content + .content {
      margin-top: 230px; }
  .section-about .title {
    margin-bottom: 0; }

@media (max-width: 1200px) {
  .section-about {
    padding: 150px 0; }
    .section-about .content + .content {
      margin-top: 100px; } }

@media (max-width: 780px) {
  .section-about {
    padding: 70px 0; }
    .section-about .content + .content {
      margin-top: 50px; } }

a {
  text-decoration: none;
  color: inherit; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  overflow-x: hidden; }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 30px;
  line-height: 1.33;
  font-family: "newyorkregular", sans-serif; }

@media (max-width: 1200px) {
  body {
    font-size: 18px; } }

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0; }

.container {
  max-width: 1670px;
  margin: 0 auto;
  padding: 0 15px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.34; }

p {
  margin: 0 0 16px; }

.btn {
  padding: 29px;
  line-height: 1;
  min-width: 500px;
  text-align: center;
  display: inline-block;
  -webkit-transition: .25s;
  transition: .25s; }
  .btn-primary {
    background: #ce93d8;
    color: #fff;
    border-radius: 10px; }
    .btn-primary:hover {
      background: #8E24AA; }

@media (max-width: 992px) {
  .btn {
    padding: 15px 30px;
    min-width: auto; } }

