{{ define "main" }}

{{ with .Params.about_banner }}
<section class="section section-banner-sm">
	<div class="container">
		<h1 class="page-title">{{ .title }}</h1>
		<p class="descr">
			{{ .description }}
		</p>
	</div>
</section>
{{ end }}

<section class="section section-about">
	<div class="container">
		{{ range .Params.about_row }}
		<div class="content">
			<h2 class="title">{{ .title }}</h2>
			<div class="descr">
				{{ .description }}
			</div>
		</div>
		{{ end }}
	</div>
</section>

{{ end }}
