{{ define "main" }}
{{ with .Params.home_banner }}
<div class="transform-banner">
	<section class="section section-banner">
		<div class="container">
			<div class="text">
				<h1 class="h1 page-title">{{ .banner_main_title | safeHTML }}</h1>
				<div class="text-block">{{ .banner_description }}</div>
			</div>
			<div class="media">
				<img src="{{ .banner_image | absURL }}" alt="banner image" />
			</div>
		</div>
	</section>
</div>
{{ end }} 

{{ with .Params.section_how }}
<section class="section section-how">
	<div class="container">
		<div class="top-row">
			{{ range .top_row }}
			<div class="item">
				<h3 class="title">{{ .title }}</h3>
				<div class="descr">
					{{ .description }}
				</div>
			</div>
			{{ end }}
		</div>
	</div>
	<div class="bot-row">
		{{ range .bottom_row }}
		<div class="item" data-aos="{{ .animation_name | safeHTML }}" data-aos-delay="300" data-aos-duration="1500">
			<img src="{{ .media | absURL }}" alt="banner image" />
		</div>
		{{ end }}

	</div>

	<div class="container">
		<div class="action">
			<a href="{{ .upload_link | safeHTML }}" class="btn btn-primary">Send pictures</a>
		</div>
	</div>
</section>

{{ end }}

{{ with .Params.section_what }}

<section class="section section-what">
	<div class="container">
		<h2 class="section-title">{{ .title }}</h2>
	</div>

	<div class="row media-row">
		{{ range .media_row }}
		<div class="col">
			<img src="{{ .image | absURL }}" alt="media" />
		</div>
		{{ end }}
	</div>


	<div class="container">
		<div class="row text-row">
			{{ range .text_row }}
			<div class="col">
				<div class="text-wrap">
					<h3 class="title">{{ .title }}</h3>
					<p class="text">{{ .description }}</p>
				</div>
			</div>
		{{ end }}
		</div>

		<div class="list brand-list">
			{{ range .brand_logos_row }}
			<div class="item">
				<img src="{{ .image | absURL }}" alt="media" />
			</div>
		{{ end }}
		</div>

		<div class="info-block">
			{{ range .options_row }}
			<div class="item">
				<h2 class="title">{{ .title }}</h2>
				<p class="descr">
					{{ .description }}
				</p>
			</div>
		{{ end }}
		</div>
	</div>
</section>
{{ end }}

{{ end }}
