// // [data-aos] {
// //   visibility: hidden;
// // }
// // [data-aos].animated {
// //   visibility: visible;
// // }

.section-scene {
	position: relative;
	height: 100vh;
}

//   .section-how {
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//   }
// }
