h1 {
  font-size: 70px;
}

h2 {
  font-size: 50px;

}

@media (max-width: 1200px) {
	h1 {
		font-size: 45px;
	}
	
	h2 {
		font-size: 30px;
	
	}
}

@media (max-width: 769px) {
	h1 {
		font-size: 35px;
	}
	
	h2 {
		font-size: 25px;
	
	}
}