.footer {
	background: #424242;
	color: #fff;
	padding: 100px 0 130px;

	.container {
		display: flex;
		justify-content: space-between;
	}

	.note {
		display: block;
		font-size: 20px;
		// margin-bottom: 55px;
	}

	.social-list {
		display: flex;
		padding-top: 36px;

		li {
			width: 40px;

			& + li {
				margin-left: 3px;
			}
		}
	}

	.footer-menu {
		ul {
			display: flex;

			li {
				margin-left: 40px;
				font-size: 20px;
			}
		}
	}
}

@media (max-width: 720px) {
	.footer {
    padding: 45px 0;

    .container {
      flex-direction: column-reverse;
    }

    nav {
      margin-bottom: 30px;
    }

    .footer-menu ul {
      flex-wrap: wrap;
      
      li {
        margin-right: 15px;
        margin-left: 0;
      }
    }
  }
}
