.header {
	background: $primary;
	padding: 10px 0;

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
	}

	nav {
		font-size: 20px;

		ul {
			display: flex;

			li {
				margin-right: 35px;
			}
		}

		a {
			display: block;
			font-size: 20px;
			line-height: 1.35;
			color: #fff;
		}
	}
	.burger-btn {
		height: 25px;
		width: 40px;
		position: absolute;
		top: 12px;
		right: 15px;
		z-index: 101;
		display: block;
		border: none;
		background: none;
		padding: 0;
		transition: top 0.2s;
		display: none;

		&:focus {
			outline: none;
		}

		span,
		&:before,
		&:after {
			background: #fff;
			border-radius: 3px;
			position: absolute;
			top: 8px;
			right: 0;
			width: 20px;
			height: 3px;
			transform: rotate(0);
			transition: all 0.2s linear;
		}

		&:before,
		&:after {
			content: "";
			top: 0;
			width: 40px;
		}

		&:after {
			top: 22px;
			width: 26px;
		}

		span {
			top: 11px;
			width: 20px;
		}

		.open-nav & {
			height: 20px;

			span {
				opacity: 0;
			}

			&:before,
			&:after {
				width: 40px;
				top: 10px;
				right: -4px;
				background: #fff;
			}

			&:before {
				transform: rotate(45deg);
			}

			&:after {
				transform: rotate(-45deg);
			}
		}
	}
}

@media (max-width: 1200px) {
	.header {
		nav {
			display: none;
			a {
				font-size: 18px;
				line-height: 1.1;
			}
		}

		.burger-btn {
			display: block;
		}
	}
}

@media (max-width: 780px) {
	.header {
		.logo {
			max-width: 200px;
		}

		.burger-btn {
			top: 7px;
		}
	}
}

.open-nav {
	html,
	body {
		overflow: hidden !important;
	}

	.mobile-main-menu {
		transform: translateY(0);
	}

	.burger-btn {
		color: #fff;
	}

	.header {
		z-index: 101;

		nav {
			display: flex;
			align-items: center;
			position: absolute;
			left: 0;
			top: 0;
			min-height: 100vh;
			min-width: 100vw;
			z-index: 100;
			color: #fff;
			background: $primary;
			padding: 50px;

			a {
				color: inherit;
			}

			ul {
				flex-direction: column;

				a {
					font-size: 24px;
				}

				li {
					& + li {
						margin-top: 30px;
					}
				}
			}
		}

		.logo {
			position: relative;
			z-index: 100;
		}
	}
}
