@import "variables";
@import "fonts";

@import "header";
@import "footer";
@import "animations";

@import "pages/index";
@import "pages/pricing";
@import "pages/projects";
@import "pages/about";

@import "../../node_modules/aos/src/sass/aos.scss";

a {
	text-decoration: none;
	color: inherit;
}

// adaptive images
img {
	display: block;
	max-width: 100%;
	height: auto;
}

html {
	box-sizing: border-box;
	height: 100%;
	overflow-x: hidden;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	height: 100%;
	padding: 0;
	margin: 0;
	font-size: 30px;
	line-height: 1.33;
	font-family: 'Lora', serif;
	font-weight: 400;
	background: #F3F3F3;
}

@media (max-width: 1200px) {
	body {
		font-size: 18px;
	}
}

ul,
ol {
	list-style: none;
	padding: 0;
	margin: 0;
}

.container {
	max-width: 1950px;
	margin: 0 auto;
	padding: 0 100px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	line-height: 1.34;
	font-weight: 500;
}

p {
	margin: 0 0 16px;
}

.btn {
	padding: 29px;
	line-height: 1;
	min-width: 500px;
	text-align: center;
	display: inline-block;
  transition: .25s;

	&-primary {
		background: $primary;
		color: #fff;
		border-radius: 10px;

    &:hover {
      background: $primary;
    }
	}
}

@media (max-width: 1200px) {
	.container {
		padding-left: 30px;
		padding-right: 30px;
	}
}

@media (max-width: 992px) {
	.btn {
		padding: 15px 30px;
		min-width: auto;
	}

	.container {
		padding-left: 15px;
		padding-right: 15px;
	}
}
